.header{
    background-color: var(--p-col);
    position: sticky;
    top: 0px;
   
    padding-left: 120px;
   
}
.nav{
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-evenly;
    
     
}

.alogo{
    margin-top: 10px;
}

.main{
    cursor: pointer;
    margin-top: 40px;
  
    margin-left: 150px;
    width: 100%;
  
}
 
.main ul li{
    list-style: none;
}
.main ul li{
    float: left;
    margin-left: 20px;
    color: white;
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
}
.main ul li:hover{
    border-bottom: solid var(--s-col) 2px;
    transition: 100ms;
}
.section .hr{
    height: 1px;
    background-color: var(--p-col);
    width: 90%;
    margin: 50px auto;
}
 
 
.mobileNav{
    display: none
}

.dropdownMenu {
    display: none;
    position: absolute;
    top: 70px;
    padding: 10px 20px 10px 20px;
    background-color:var(--p-col);
    
  }
  .dropdownMenu div  li{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    padding-top: 8px;
    color: aliceblue;
  }
.dropdownM {
    display: none;
    position: absolute;
    top: 70px;
    padding: 10px 10px 30px 10px;
    padding: 10px 20px 10px 20px;
    background-color:var(--p-col);
  }
  .dropdownM div  li{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(249, 249, 249);
    padding-top: 5px;
  }
  
  .dropdownMenu li {
    display: block;
  }
  .menu{
    
    padding-bottom: 30px;
  }
  .menu:hover .dropdownMenu {
    display: block;
  }
  .termsMenu{
    cursor: pointer;
    padding-bottom: 30px;
  }
  .termsMenu:hover .dropdownM {
    display: block;
    
  }
 
.sign{
    display: inline;
    cursor: pointer;
    
}
.profile{
    margin-left: 200px;
   
}
.sign li{
    border: solid 1px var(--s-col);
    padding: 10px 20px 10px 20px;
    margin-top: -10px;
    border-radius: 5px;
}
.userinit{
    display: inline;
    cursor: pointer;
    
   
}
.userInit li{
    border: solid 1px var(--s-col);
    background:linear-gradient(45deg,var(--s-col),#69B4CE) ;
    padding: 13px 8px 13px 8px;
    margin-top: -10px;
    border-radius: 50%;
}
.userInit li:hover{
    background:linear-gradient(45deg,#69B4CE,var(--s-col)) ; ;
}
.proImg li{
    width: 60px;
     padding: 13px 8px 13px 8px;
    margin-top: -25px;
    border-radius: 50%;
}
.proImg img{
    width: 100%;
    border-radius: 50%;
}
@media screen and (max-width:780px)  {
   .nav{
    display: none;
   } 
    
.header{
   margin-bottom: -50px;
   margin-top: -60px;
   padding-bottom: 10px;
    
}
.mobileNav{
    display: flex;
    justify-content: space-between; 
    width: 80%;
    margin-left: 10%;
    
    } 
     .hr{
        height: 1px;
        background-color: var(--p-col);
        width: 90%;
        margin: 50px auto;
    }
    .mobileLogo{
        margin-top: 20px;
    }
    .mobileCart{
        margin-top: 20px;
    }
    .mobileCart li{
        list-style-type: none;
    }
    .mobileNav .hamburger{
        margin-top: 35px;
        border:  solid var(--p-col) 1px;
       height: 20%;
       border-radius: 10px;
    }
     
    
   .mobileNav .menu{
        display: none;
        border: solid gray 1px;
        padding: 20px;
        border-radius: 5px;
        position: absolute;
        background-color: rgb(0, 0, 0);
        margin-left: -20px;
        color: var(--s-col);
        margin-top: 10px;
    }
    .mobileNav .menu ul li{
    list-style: none;
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-bottom: solid var(--p-col) 1px;
     
    }
    .menu li {
    text-decoration: none;
     
    }
    
    .hamburger:hover .menu{
    display: block;
    }
    
    .sign{
        background-color: #333;
        border: solid white 2px;
    }
    .drop{
        display: inline;
    }
    @media screen and (min-width:600px)  {
        .mobile-nav{
         display: none;
        } 
        
     }
}
    @media screen and (min-width:320px)  {
        .mobile-nav{
         display: none;
        } 
        .mobileLogo{
            width: 10%;
        }
        
     }