.section {
    display: flex;
     
}

.sectionPay {
    margin-top: -200px;
    width: 80%;
    margin-left: 13%;
}

.sectionPay h1 {

    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 20px;
    border-bottom: solid var(--s-col) 5px;
    color: var(--p-col);
    width: 30%;
    margin-bottom: 50px;
}

.payment {

    display: flex;
    justify-content: space-between;
}

.card {
    background-image: url("../public/card.png");
    background-repeat: no-repeat;
    width: 80%;
    background-size: contain;
    height: 250px;
    border: solid rgb(255, 255, 255) 2px;

}

.cardDetails {
    margin-top: 125px;
    margin-left: 20px;
    width: 60%;

    padding: 10px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
}
 

.logo {
    width: 30%;
    margin-top: 25px;
    margin-left: 30px;
}

.logo img {
    width: 100%;
    border-radius: 50%;

}

.further {
    border: solid green 1px;
    padding: 10px;
    border-radius: 10px;
    width: 39%;
    margin-top: 10px;
}

.further h4 {
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: var(--p-col);
    font-size: 1em;
}

.further span {
    color: var(--s-col);
}

.cashOut {

    width: 60%;
}

.history h1 {
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 20px;
    border-bottom: solid var(--s-col) 5px;
    color: var(--p-col);
    width: 30%;
    margin-bottom: 50px;
    margin-top: 50px;
}

.main {
    display: none;
}

@media screen and (max-width:786px) {
    .aside {
        display: none;
    }

    .section {
        display: flex;
        flex-direction: column;
    }
    .cardDetails {
        margin-top: 125px;
        margin-left: 20px;
        width: 60%;
    
        padding: 10px;
        border-radius: 10px;
        color: rgb(255, 255, 255);
        font-family: 'Times New Roman', Times, serif;
    }
    .cardDetails h4{
        margin-top:-31px ;
    }

    .sectionPay {
        margin-top: 100px;

        width: 100%;
        margin-left: -1px;
        padding: 20px;
    }

    .further {
        width: 50%;
    }

    .sectionDetails {
        margin-top: 150px;
        width: 92%;
        margin-left: 2.5%;
        margin-bottom: -200px;
    }

    .main {
        display: block;
        margin-bottom: 60px;
        width: 10%;
    }
}

@media screen and (max-width:415px) {
    .aside {
        display: none;
    }

    

    .main {
        display: block;
        margin-bottom: 70px;
        width: 10%;
        margin-left: -10px;
    }

    .section {
        display: flex;
        flex-direction: column;
    }

    .sectionPay {
        margin-top: 200px;

        width: 100%;
        margin-left: -1px;
        padding: 20px;
    }
    .logo {
        width: 30%;
        margin-top: 20px;
        margin-left: 30px;
    }

    .payment {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .payment>div {
        width: 100%;
        margin-bottom: 30px;
    }
    .cardDetails {
        margin-top: 10px;
        margin-left: 20px;
        width: 60%;
    
        padding: 10px;
        border-radius: 10px;
        color: rgb(255, 255, 255);
        font-family: 'Times New Roman', Times, serif;
    }

    .cardDetails h4 {
        margin-top: 73px;
        
    }

    .further {
        width: 50%;
    }
}
 
@media screen and (max-width:325px) {
    .aside {
        display: none;
    }

    

    .main {
        display: block;
        margin-bottom: 70px;
        width: 10%;
        margin-left: -10px;
    }

    .section {
        display: flex;
        flex-direction: column;
    }

    .sectionPay {
        margin-top: 200px;

        width: 100%;
        margin-left: -1px;
        padding: 20px;
    }
    .cardDetails {
        margin-top: 100px;
        margin-left: 20px;
        width: 60%;
    
        padding: 10px;
        border-radius: 10px;
        color: rgb(255, 255, 255);
        font-family: 'Times New Roman', Times, serif;
    }
    .payment {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .payment>div {
        width: 100%;
        margin-bottom: 30px;
    }

    .cardDetails h4 {
        margin-top: -40px;
    }

    .further {
        width: 50%;
    }
}